.order-step__content-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1280px) {
    .order-step__content-three {
        grid-template-columns: repeat(2, 1fr);
    }
}