.order-step__label-radio {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #010101;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 9px;
    box-sizing: border-box;
}

.order-step__label-radio::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid #25589B;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #25589B;
    cursor: pointer;
    margin-right: 9px;
}

.order-step__label-radio.active::before {
    content: '\2714';
}