.order-promo__input {
    height: 40px;
    border: 1px solid #25589B;
    border-radius: 2px 0px 0px 2px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.17px;
    color: #25589B;
    box-sizing: border-box;
    padding: 8px 10px;
    width: 100%;
}

.order-promo__input::placeholder {opacity: 0.38;}